<p>During the research and development phase, our team of scientists were dedicated to creating a unique skincare cream free from many common allergens known to often cause sensitive skin to flare up.</p>
<p>Ko&eacute;na Dermaceutical Daily Moisturiser is proudly free from:</p>
<ul>
    <li>Steroids, Cortisone, Fragrance, Lanolin</li>
    <li>Ethanol (Ethyl Alcohol)</li>
    <li>EDTA (Ethylenediaminetetraacetic Acid)&nbsp;</li>
    <li>MI/MIT (Methylisothiazolinone)</li>
    <li>CMIT (Chloromethylisothiazolinone)</li>
    <li>SLS (Sodium Lauryl Sulfate)</li>
    <li>SLES (Sodium Lauryl Ether Sulfate)&nbsp;</li>
    <li>Talc (Hydrated Magnesium Silicate)&nbsp;</li>
    <li>Parabens (Butylparaben, Ethylparaben, Isopropylparaben, Methylparaben, Propylparaben)&nbsp;</li>
    <li>Petroleum</li>
    <li>Mineral Oil&nbsp;</li>
    <li>Animal Testing</li>
</ul>