<div class="cart-info">
<p>Delivery delays may be experienced due to the high demand across Australia Post’s delivery network.  <a href="https://koena.com.au/pages/shipping-delivery">Learn more</a></p>
</div>