<p>A combination of ingredients that will make your other skincare products jealous. Specifically, Koéna Dermaceutical Daily Moisturiser contains the following ingredients:
<br>
Purified Water, Glycerin, Isopropyl Palmitate, Cetearyl Alcohol, Dimethicone, PEG-40 Stearate, Betaine, Dimethyl Sulfone, Glycine, Phenoxyethanol, Panthenol, Acetyl Glucosamine, Glucosamine Sulfate Potassium Chloride, Sorbitan Stearate, Caprylyl Glycol, Triethanolamine, Carbomer, PEG-20 Stearate, Xanthan Gum, Sorbic Acid
<br>
<br>
<strong>A note for vegans, vegetarians or  those  sensitive to shellfish:</strong>
<br>
Koéna Dermaceutical Daily Moisturiser contains glucosamine derived from crustacea, commonly known as shellfish. It's the shell of the crustaceans and not animal tissue used. You may wish to discuss the suitability of Koéna Dermaceutical Daily Moisturiser with your healthcare professional prior to use.</p>