<p>Resta-Plex® isn't a fancy name we came up with to sound clever. It's our patented combination of 4 active ingredients proudly developed right here in Australia.
<br>
Backed by years of dedicated scientific research, Koéna Dermaceutical Daily Moisturiser is truly an unmatched, exclusive formulation that will leave your other skincare products wanting.
<br>
If you’re curious about what makes the unique combination of Resta-Plex® ingredients so ineffable, here they are:</p>

<ul>
   <li><strong>Dimethyl Sulfone</strong> (Methyl Sulphonyl Methane)</li>
   <li><strong>Glycine </strong> (L-Glycine)</li>
   <li><strong>Acetyl Glucosamine </strong> (N-Acetyl-Glucosamine)</li>
   <li><strong>Glucosamine Sulfate Potassium Chloride </strong> (Glucosamine Sulphate K Salt)</li>
</ul>
