<p>Please be a good skincare citizen and follow the storage instructions printed on the product packaging.</p>

    <p>Additionally, please ensure you:
    <ul>
        <li>Store below 25&deg;C and away from direct sunlight</li>
        <li>Keep out of reach of children</li>
        <li>Ensure the cap is secured properly after each use</li>
        <li>Avoid storing in your car or other places prone to heat</li>
    </ul>
    
    Koéna Australian Clay Mask should be used within 12 months after opening.
</p>
    