    <style>
      .desktop3 img {
        width: 250px;
        padding: 5px;
      }
    </style>            
    
    <li class="desktop3">
      <div>                          
        <img class="img-1" src="//cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_300x300.png?v=1623071199" data-widths="[360, 580, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="1.501466275659824" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_360x.png?v=1623071199 360w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_580x.png?v=1623071199 580w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_720x.png?v=1623071199 720w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_900x.png?v=1623071199 900w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1080x.png?v=1623071199 1080w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1296x.png?v=1623071199 1296w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1512x.png?v=1623071199 1512w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1728x.png?v=1623071199 1728w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1944x.png?v=1623071199 1944w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_2048x.png?v=1623071199 2048w" sizes="605px" srcset="//cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_360x.png?v=1623071199 360w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_580x.png?v=1623071199 580w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_720x.png?v=1623071199 720w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_900x.png?v=1623071199 900w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1080x.png?v=1623071199 1080w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1296x.png?v=1623071199 1296w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1512x.png?v=1623071199 1512w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1728x.png?v=1623071199 1728w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1944x.png?v=1623071199 1944w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_2048x.png?v=1623071199 2048w">
        <a href="/pages/koena-who-we-are" class="site-nav__dropdown-link" data-meganav-type="child" tabindex="-1">
                                  Koéna | Who We Are
                              </a>
       </div>        
    </li>
  

  
    <li class="desktop3">
      <div>                          <img  class="img-1" src="//cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_300x300.png?v=1623071199" data-widths="[360, 580, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="1.501466275659824" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_360x.png?v=1623071199 360w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_580x.png?v=1623071199 580w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_720x.png?v=1623071199 720w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_900x.png?v=1623071199 900w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1080x.png?v=1623071199 1080w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1296x.png?v=1623071199 1296w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1512x.png?v=1623071199 1512w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1728x.png?v=1623071199 1728w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1944x.png?v=1623071199 1944w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_2048x.png?v=1623071199 2048w" sizes="605px" srcset="//cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_360x.png?v=1623071199 360w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_580x.png?v=1623071199 580w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_720x.png?v=1623071199 720w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_900x.png?v=1623071199 900w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1080x.png?v=1623071199 1080w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1296x.png?v=1623071199 1296w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1512x.png?v=1623071199 1512w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1728x.png?v=1623071199 1728w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1944x.png?v=1623071199 1944w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_2048x.png?v=1623071199 2048w">
       <a href="/pages/a-note-from-dr-turner" class="site-nav__dropdown-link" data-meganav-type="child" tabindex="-1">
          Dr Turner and the Journey to Koéna
        </a>
     </div>  
    </li>
  

  
    <li class="desktop3">
      <div>                          <img  class="img-1" src="//cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_300x300.png?v=1623071199" data-widths="[360, 580, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="1.501466275659824" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_360x.png?v=1623071199 360w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_580x.png?v=1623071199 580w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_720x.png?v=1623071199 720w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_900x.png?v=1623071199 900w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1080x.png?v=1623071199 1080w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1296x.png?v=1623071199 1296w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1512x.png?v=1623071199 1512w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1728x.png?v=1623071199 1728w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1944x.png?v=1623071199 1944w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_2048x.png?v=1623071199 2048w" sizes="605px" srcset="//cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_360x.png?v=1623071199 360w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_580x.png?v=1623071199 580w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_720x.png?v=1623071199 720w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_900x.png?v=1623071199 900w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1080x.png?v=1623071199 1080w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1296x.png?v=1623071199 1296w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1512x.png?v=1623071199 1512w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1728x.png?v=1623071199 1728w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_1944x.png?v=1623071199 1944w, //cdn.shopify.com/s/files/1/0269/1923/9703/files/Rectangle_7_2048x.png?v=1623071199 2048w">
       <a href="/pages/resta-plex" class="site-nav__dropdown-link" data-meganav-type="child" tabindex="-1">
          Resta-Plex® Formula
        </a>
      </div>  
    </li>
  