<p>Apply an even amount over a clean, dry face. Leave on for 10 minutes or until completely dry and remove with warm water or a face cloth. Use 2-3 times a week or 1-2 times for dry/sensitive skin.</p>
<p>A patch test is recommended prior to use</p> 