<style>
    input{
      position:absolute;
      opacity:0;
      z-index:-1;
    }

    label {
      color: #0f72ea;
      font-style: normal;
      font-size: 0.9rem;
    }

    .dzx-accordion{
      width:80%;
      margin:0 auto;
    }
    .dzx-accordion h1{
      text-align:left;
    }
    .dzx-postTitle{
      font-size:1em;
      text-align: left;
    }
    .row{
      display:flex;
    }
    .row .col{
      flex:1;
    }
    /* Accordion styles */
    .tabs{
      border-radius:8px;
      overflow:hidden;
      margin-top: 3rem;
    }
    .tab{
      width:100%;
      color:white;
      overflow:hidden;
    }
    .tab-label{
      display:flex;
      padding:1em;
      cursor:pointer;
      margin-bottom:0;
      font-weight:bold;
      background:#ffffff;
      justify-content:space-between;
      /* Icon */
    }
    .tab-label:hover {
      background:#0f72ea;
      color: #ffffff;
    }
    .tab-label::after {
      content:"\276F";
      width:1em;
      height:1em;
      text-align:center;
      transition:all 0.35s;
      font-size: 1.6rem;
    }
    .tab-content {
      max-height:0;
      padding:0 1em;
      color:#2c3e50;
      background:white;
      transition:all 0.35s;
        text-align: left;
    }
    .tab-close {
      display:none;
      cursor:pointer;
      padding:1em;
      font-size:0.75em;
      background:#ffffff;
      justify-content:flex-end;
    }
    .tab-close:hover {
      background:#0f72ea;
      color: #ffffff;
    }
    
    input:checked + .tab-label {
      background:#0f72ea;
      color: #ffffff;
    }
    input:checked + .tab-label::after {
      -webkit-transform:rotate(90deg);
              transform:rotate(90deg);
    }
    input:checked ~ .tab-content {
      max-height:100vh;
      padding:1em;
    }	
      
    .text-left {
      text-align: left;
    }
      
    </style>
    <div class="page-width">
    <div class="grid text-left">
    <div class="grid__item medium-up--four-fifths medium-up--push-one-tenth">
    <div class="section-header text-center">  
    <h1 class="section-header__title h2 page-h1">FAQ's</h1>
      </div>
      <span class="dzx-postTitle">We have compiled a list of some of our commonly asked questions for you. If you can't find the answer to your question, please email your query through to <a href="mailto:hello@koena.com.au">hello@koena.com.au</a></span>
    <div class="row">
      <div class="col">
        <div class="tabs">
          <div class="tab">
            <input type="radio" id="rd1" name="rd">
            <label class="tab-label" for="rd1">My skin is particularly sensitive, are Koéna products suitable for me?</label>
            <div class="tab-content">
      Absolutely! When our team of scientists were developing the unique Koéna formulation, one of the non-negotiable requirements was its suitability for people with sensitive skin. But as with any new skincare product, we always recommend conducting a patch test prior to application. If you experience a rash or irritation, please discontinue use.
          </div>
             </div>
     <div class="tab">
            <input type="radio" id="rd8" name="rd">
            <label class="tab-label" for="rd8">What can I use Koéna Cleanser For?</label>
            <div class="tab-content">
              Koéna's Dermaceutical Gentle Cleanser removes makeup, impurities, oils and dirt, while also cleansing the skin. It's a gentle alternative with ingredients well known to reduce inflammation and redness. 
               </div>
        </div>
          <div class="tab">
            <input type="radio" id="rd2" name="rd">
            <label class="tab-label" for="rd2">What is Koéna Dermaceutical Skincare Cream useful for?</label>
            <div class="tab-content">
            Koéna Dermaceutical Daily Moisturiser can be used across a range of skin applications. Koéna's patented Resta-Plex formulation was formulated to reduce inflammation, making it particularly impactful to skin prone to eczema and psoriasis or susceptible to moisture-loss, cracking or flaking.     
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd3" name="rd">
            <label class="tab-label" for="rd3">Is Koéna suitable for use on childrens’ skin?</label>
            <div class="tab-content">
             Absolutely! One of the non-negotiables in developing the Koéna formula was ensuring its suitability for the whole family and for young or sensitive skin. Koéna can be safely used by the whole family (including toddlers) and is safe for people of all ages with eczema, psoriasis and dermatitis prone skin.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd4" name="rd">
            <label class="tab-label" for="rd4">Can I use Koéna on my face?</label>
            <div class="tab-content">
              Yes! Koéna can be applied to your face, its gentle formula alleviates common issues experienced by people with sensitive skin. Just make sure you take care when in close proximity to your eyes and avoid eye contact. If contact occurs, rinse with water.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd5" name="rd">
            <label class="tab-label" for="rd5">What’s unique about Koéna?</label>
            <div class="tab-content">
              <p>Since you probably don&rsquo;t have all day, we&rsquo;ve summarised the highlights for you:</p>
    <p>&bull;<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>Our unique Resta-Plex&reg; formulation is patented; a true one of a kind, so you won&rsquo;t find it anywhere else</p>
    <p>&bull;<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>When you purchase any Ko&eacute;na product, 100% of our profits go directly to our amazing not-for-profit partner</p>
    <p>&bull;<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>It&rsquo;s backed by years of dedicated scientific research to rehydrate skin prone to dryness, redness, itching and flaking and reduce inflammatory markers that cause skin irritation.</p>
    <p><br></p>
          </div>
                 </div>
          <div class="tab">
            <input type="radio" id="rd7" name="rd">
            <label class="tab-label" for="rd7">How often should I apply koéna?</label>
            <div class="tab-content">
              For optimal results, we recommend liberally applying Koéna Dermaceutical Moisturiser to the affected area of skin 3-4 times per day. If required, you may wish to apply the cream more often.
    
    We also recommend that you consider conducting a patch test prior to use on any affected areas. You can do this by applying a small amount of Koéna Dermaceutical Daily Moisturiser to an area of skin not affected.
     </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd8" name="rd">
            <label class="tab-label" for="rd8">Is it possible to use too much?</label>
            <div class="tab-content">
              We recommend you follow the usage instructions of 3-4 times per day, or as required. 
               </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd9" name="rd">
            <label class="tab-label" for="rd9">Are all the ingredients listed on your product packaging?</label>
            <div class="tab-content">
           <p>Absolutely. You can also see the full list of ingredients on our website within the product &nbsp;section <a href="https://koena.com.au/products/daily-moisturiser">here</a>. We&#39;re also particularly proud of the things that are &quot;not found&quot; in Ko&eacute;na - check out our free-from list <a href="https://koena.com.au/products/daily-moisturiser">here.</a></p>
          </div>
            </div>
          <div class="tab">
            <input type="radio" id="rd10" name="rd">
            <label class="tab-label" for="rd10">Does Koéna contain any animal products</label>
            <div class="tab-content">
             Koéna Dermaceutical Daily Moisturiser with Resta-Plex® contains glucosamine derived from crustacea, commonly known as shellfish. It's the shell of the crustaceans and not animal tissue used.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd11" name="rd">
            <label class="tab-label" for="rd11">Where can I purchase Koéna?</label>
            <div class="tab-content">
         Right here on our website or through our Facebook and Instagram pages. Watch this space, Koéna is coming to stores soon. 
               </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd12" name="rd">
            <label class="tab-label" for="rd12">How should koéna be stored?</label>
            <div class="tab-content">
            <p>Ko&eacute;na Dermaceutical Daily Moisturiser is loaded with complex ingredients that have been carefully selected for sensitive skin; therefore, just like your skin, we recommend that absolute love and care be given to your product!</p>
    <p>Do:</p>
    <ul>
        <li>Store below 25&deg;C and away from direct sunlight</li>
        <li>&nbsp;Keep out of reach of children</li>
        <li>Ensure the cap is secured properly after each use</li>
        <li>Use within 12 months after opening</li>
    </ul>
    <p>Don&#39;t:</p>
    <ul>
        <li>Store in your car or other random places not designed for skincare products that may expose the product to heat</li>
        <li>Do not use if the tamper-evidence foil seal is missing or if it&#39;s past its use-by-date</li>
    </ul>
    <p><br></p>
          </div>
            </div>
          <div class="tab">
            <input type="radio" id="rd13" name="rd">
            <label class="tab-label" for="rd13">Can I use koéna on minor scratches or insect bites/stings?</label>
            <div class="tab-content">
            Yes, you can. Koéna Dermaceutical Daily Moisturiser can help to reduce the appearance of dryness, redness, cracking, flaking and crusting skin.
          </div>
              </div>
          <div class="tab">
            <input type="radio" id="rd14" name="rd">
            <label class="tab-label" for="rd14">Where was Koéna developed?</label>
            <div class="tab-content">
            Koéna was developed here in Straya, mate. An innovative team of experts with a passion for skincare spent several years in the lab researching and developing the unique Koéna skincare formulation.
          </div>
             </div>
          <div class="tab">
            <input type="radio" id="rd15" name="rd">
            <label class="tab-label" for="rd15">Where is Koéna made?</label>
            <div class="tab-content">
              Koéna is proudly manufactured right here in in Australia.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd16" name="rd">
            <label class="tab-label" for="rd16">Is Koéna Australian owned?</label>
            <div class="tab-content">
            <p>Ko&eacute;na is 100% Australian owned. We are a social enterprise whereby 100% of profits generated from the sale of Ko&eacute;na products is invested in causes that promote community health and social empowerment. You can learn more about the unique Ko&eacute;na story <a href="https://koena.com.au/pages/giveback">here.</a></p>
          </div>
            </div>
          <div class="tab">
            <input type="radio" id="rd17" name="rd">
            <label class="tab-label" for="rd17">Is koéna tested on animals?</label>
            <div class="tab-content">
              No way, we don't roll like that.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd18" name="rd">
            <label for="rd18" class="tab-close">Close others &times;</label>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
      </div>
    </div>